{
	"root": true,
	"parser": "babel-eslint",
	"plugins": [
		"jest"
	],
	"env": {
		"es6": true,
		"node": true,
		"jest/globals": true
	},
	"extends": [
		"airbnb",
		"plugin:jest/recommended"
	],
	"rules": {
		"no-console": "off",
		"operator-linebreak": "off",
		"arrow-parens": [
			"warn",
			"as-needed"
		],
		"no-underscore-dangle": "off",
		"no-param-reassign": "off",
		"react/no-this-in-sfc": "off",
		"no-shadow": "warn",
		"no-tabs": "off",
		"import/no-extraneous-dependencies": "off",
		"eol-last": "warn",
		"no-var": "warn",
		"dot-notation": "warn",
		"no-unused-vars": "warn",
		"object-shorthand": "warn",
		"no-trailing-spaces": "warn",
		"vars-on-top": "warn",
		"space-before-function-paren": "warn",
		"quotes": [
			1,
			"single"
		],
		"semi": [
			1,
			"always"
		]
	}
}
